<!DOCTYPE html>
<html>
	<head>
		<title>Facebook Login JavaScript Example</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS -->
		<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="static/js/jquery-ui-1.11.4/jquery-ui.min.css">

        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css"/>

        <link rel="stylesheet"
              href="static/bootstrap/bootstrap-slider/css/bootstrap-slider.min.css"/>
		<!-- Optional theme -->
        <!--
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
                      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
                      crossorigin="anonymous">
         -->

        <link rel="stylesheet" href="static/css/form-elements.css">
        <link rel="stylesheet" href="static/css/style.css"/>




	</head>

	<body>
        {% block body %}{% endblock %}
        <!-- Javascript -->
        <script src="static/js/jquery-2.2.3.min.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/js/jquery.backstretch.min.js"></script>
        <script src="static/js/retina-1.1.0.min.js"></script>
    <script src="static/js/jquery-ui-1.11.4/jquery-ui.min.js"></script>

        <script type="text/javascript"
                src="static/bootstrap/bootstrap-slider/bootstrap-slider.min.js"></script>

        <script src="static/js/scripts.js"></script>


    </body>
</html>
