

<html>
	<head>
		<title>Facebook Login JavaScript Example</title>
		<meta charset="UTF-8">
		<!-- CSS -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
			  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
			  crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
			  integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
			  crossorigin="anonymous">

		<link type="text/css" href="static/styles/style.css" ref="stylesheet"/>
		<link rel="stylesheet" href="static/styles/form-elements.css">


		<script type="text/javascript" src="static/jquery-1.11.3.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
				integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
				crossorigin="anonymous"></script>

		<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.2/bootstrap-slider.min.js"></script>
		<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.2/css/bootstrap-slider.min.css"></script>


	</head>

	<body>
        {% block body %}{% endblock %}

		<!--<form action="" method="post">-->
		<!--<fieldset>-->
		<!--<h2 class="fs-title">Social Profiles</h2>-->
		<!--<h3 class="fs-subtitle">Your presence on the social network</h3>-->
		<!--<input type="text" name="email" />-->
		<!--</fieldset>-->
		<!--<fieldset>-->
		<!--<h2 class="fs-title">Social Profiles</h2>-->
		<!--<h3 class="fs-subtitle">Your presence on the social network</h3>-->
		<!--<input type="password" name="password" />-->
		<!--</fieldset>-->
		<!--</form>-->
    <!--<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">-->
<!--</fb:login-button>-->
<!--<div id="status">-->
<!--</div>-->
<!-- multistep form -->
<!--<form id="msform">-->
	<!--&lt;!&ndash; progressbar &ndash;&gt;-->
	<!--<ul id="progressbar">-->
		<!--<li class="active">Account Setup</li>-->
		<!--<li>Social Profiles</li>-->
		<!--<li>Personal Details</li>-->
	<!--</ul>-->
	<!--&lt;!&ndash; fieldsets &ndash;&gt;-->
	<!--<fieldset>-->
		<!--<h2 class="fs-title">Create your account</h2>-->
		<!--<h3 class="fs-subtitle">This is step 1</h3>-->
		<!--<input type="text" name="email" placeholder="Email" />-->
		<!--<input type="password" name="pass" placeholder="Password" />-->
		<!--<input type="password" name="cpass" placeholder="Confirm Password" />-->
		<!--<input type="button" name="next" class="next action-button" value="Next" />-->
	<!--</fieldset>-->
	<!--<fieldset>-->
		<!--<h2 class="fs-title">Social Profiles</h2>-->
		<!--<h3 class="fs-subtitle">Your presence on the social network</h3>-->
		<!--<input type="text" name="twitter" placeholder="Twitter" />-->
		<!--<input type="text" name="facebook" placeholder="Facebook" />-->
		<!--<input type="text" name="gplus" placeholder="Google Plus" />-->
		<!--<input type="button" name="previous" class="previous action-button" value="Previous" />-->
		<!--<input type="button" name="next" class="next action-button" value="Next" />-->
	<!--</fieldset>-->
	<!--<fieldset>-->
		<!--<h2 class="fs-title">Personal Details</h2>-->
		<!--<h3 class="fs-subtitle">We will never sell it</h3>-->
		<!--<input type="text" name="fname" placeholder="First Name" />-->
		<!--<input type="text" name="lname" placeholder="Last Name" />-->
		<!--<input type="text" name="phone" placeholder="Phone" />-->
		<!--<textarea name="address" placeholder="Address"></textarea>-->
		<!--<input type="button" name="previous" class="previous action-button" value="Previous" />-->
		<!--<input type="submit" name="submit" class="submit action-button" value="Submit" />-->
	<!--</fieldset>-->
<!--</form>-->

<!-- jQuery -->
					<script type="text/javascript" src="static/jquery-1.11.3.min.js"></script>

<!--<script src="http://thecodeplayer.com/uploads/js/jquery-1.9.1.min.js" type="text/javascript"></script>-->
	</body>
</html>
