{% extends "base.html" %}

{% block body %}


    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg" >
            <div class="container" style=" color:#F9F9F9;   background: rgba(245, 181, 181, 0.8);">
                <h1 style="color: #F9F9F9">Hey! Welcome to Yente, where we are generating the perfect match based oon your needs. </h1>
                <h4>Your facebook username is your unique profile page id. My Fake Facebook profile URL is
                    https://www.facebook.com/jackiemay and my username would be jackiemay. </h4>
                <h4>If you do not have Tinder and a Facebook account, you can use the provided default profile. </h4>
                <div class="row">

                    {% if error %}
                        <h2>Damn that error: {{ error }}</h2>
                    {% endif %}
                    <div class="col-sm-6 col-sm-offset-3 form-box">

                        <form role="form" action="/login" method="post" class="login-form">
                            <div class="form-top" style="background:transparent;text-align: center;">


                        <div class="form-group">

                            <label for="username">Facebook Username</label>

                            <input id="username" type="text" placeholder="Username" name="username"
                                   value=""/>
                    </div>
</div>
                <div class="form-bottom" style="background: transparent;text-align: center">

                    <div class="form-group">
                        <label for="password">Facebook Password:</label>

                        <input id="password" type="password" placeholder="Password" name="password" value=""/>
                                        </div>

                      <button type="submit" id="login-btn" name="login_button" value="Login" class="btn" >Login</button>
{#                <button type="submit" value="Default login" name="login_button" class="btn" id="default">Default Login#}
{#                </button>#}
</div>


                </form>
            </div>
        </div>
</div>
            </div>
    </div>


{% endblock body %}