{% extends "base.html" %}

{% block body %}

    <a href="/">Home</a>

    {# Check for errors. #}
    {% if result.error %}
        <h2>Damn that error: {{ result.error.message }}</h2>
    {% endif %}

    {# Welcome the user. #}
    {% if result.user %}
        <h1>Hi {{ result.user.name }}</h1>
        <h2>Your id is: {{ result.user.id }}</h2>
        <h2>Your email is: {{ result.user.email }}</h2>
    {% endif %}

    {# If the user has credentials, we can access his/her protected resources. #}
    {% if result.user.credentials %}

        {# Let's get the user's 5 most recent statuses. #}
        {% if result.provider.name == 'fb' %}
            Your are logged in with Facebook.<br />

    token: {{result.user.credentials.token }}




        {% endif %}{# result.provider.name == 'fb' #}


    {% endif %}{# result.user.credentials #}

{% endblock body %}