{% extends "base.html" %}
{% block body %}

<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">Bootstrap Multi Step Registration Form Template</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="top-navbar-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
							<span class="li-text">
								Put some text or
							</span>
					<a href="#"><strong>links</strong></a>
							<span class="li-text">
								here, or some icons: 
							</span> 
							<span class="li-social">
								<a href="#"><i class="fa fa-facebook"></i></a> 
								<a href="#"><i class="fa fa-twitter"></i></a> 
								<a href="#"><i class="fa fa-envelope"></i></a> 
								<a href="#"><i class="fa fa-skype"></i></a>
							</span>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- Top content -->
<div class="top-content">

	<div class="inner-bg">
		<div class="container">

			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 form-box">

					<form role="form" action="" method="post" class="registration-form">

						<fieldset>
							<div class="form-top">
								<div class="form-top-left">
									<h3>Step 1 / 3</h3>
									<p>How often would you like to see your match per week?</p>
								</div>
								<div class="form-top-right">
									<i class="fa fa-user"></i>
								</div>
							</div>
							<div class="form-bottom">
								<div class="form-group">
									<label class="sr-only" for="form-days-per-week">Days Per Week:</label>

									<input id="distance-slider" data-slider-id="distance-slider"
										   name="form-days-per-week" type="text" data-provide="slider"
										   data-slider-tooltip="always" data-slider-min="0"
										   data-slider-max="7"
										   data-slider-step="1"
										   data-slider-value="0"/>

								</div>

								<button type="button" class="btn btn-next">Next</button>
							</div>
						</fieldset>

						<fieldset>
							<div class="form-top">
								<div class="form-top-left">
									<h3>Step 2 / 3</h3>
									<p>Set up your account:</p>
								</div>
								<div class="form-top-right">
									<i class="fa fa-key"></i>
								</div>
							</div>
							<div class="form-bottom">
								<div class="form-group">
									<label class="sr-only" for="form-email">Email</label>
									<input type="text" name="form-email" placeholder="Email..."
										   class="form-email form-control" id="form-email">
								</div>
								<div class="form-group">
									<label class="sr-only" for="form-password">Password</label>
									<input type="password" name="form-password" placeholder="Password..."
										   class="form-password form-control" id="form-password">
								</div>
								<div class="form-group">
									<label class="sr-only" for="form-repeat-password">Repeat password</label>
									<input type="password" name="form-repeat-password" placeholder="Repeat password..."
										   class="form-repeat-password form-control" id="form-repeat-password">
								</div>
								<button type="button" class="btn btn-previous">Previous</button>
								<button type="button" class="btn btn-next">Next</button>
							</div>
						</fieldset>

						<fieldset>
							<div class="form-top">
								<div class="form-top-left">
									<h3>Step 3 / 3</h3>
									<p>Social media profiles:</p>
								</div>
								<div class="form-top-right">
									<i class="fa fa-twitter"></i>
								</div>
							</div>
							<div class="form-bottom">
								<div class="form-group">
									<label class="sr-only" for="form-facebook">Facebook</label>
									<input type="text" name="form-facebook" placeholder="Facebook..."
										   class="form-facebook form-control" id="form-facebook">
								</div>
								<div class="form-group">
									<label class="sr-only" for="form-twitter">Twitter</label>
									<input type="text" name="form-twitter" placeholder="Twitter..."
										   class="form-twitter form-control" id="form-twitter">
								</div>
								<div class="form-group">
									<label class="sr-only" for="form-google-plus">Google plus</label>
									<input type="text" name="form-google-plus" placeholder="Google plus..."
										   class="form-google-plus form-control" id="form-google-plus">
								</div>
								<button type="button" class="btn btn-previous">Previous</button>
								<button type="submit" class="btn">Sign me up!</button>
							</div>
						</fieldset>

					</form>

				</div>
			</div>
		</div>
	</div>

</div>





{% endblock %}